html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

header h1 {
  margin: .25em;
  display: inline-block;
  width: 50%; }
header #map-controls {
  display: inline-block; }

#map-wrapper {
  position: absolute;
  top: 4em;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100%; }

#map-canvas {
  height: 100%; }
